{% for post in posts %}
    <a href="{{ getRoutePath('blog_post_view', {'key': post.key}) }}" class="uk-display-block uk-padding-small uk-background-muted uk-margin app-card-blog-post">
        <div class="uk-flex">
            <div class="uk-width-1-1@s uk-width-2-3@m">
                {{ post.title }}
            </div>
            <div class="uk-width-1-3@m uk-visible@s uk-text-right">
                {{ post.creationTime|date('d M Y') }}
                <span class="uk-badge uk-margin-small-left">
                    {{ post.comments|length }}
                </span>
            </div>
        </div>
    </a>
{% endfor %}