<form class="app-contact-form uk-margin-medium-top">
    <div class="uk-margin-small">
        <div class="uk-form-controls">
            <input name="firstName" id="first-name" class="uk-input uk-border-rounded" type="text" placeholder="First name">
        </div>
    </div>
    <div class="uk-margin-small">
        <div class="uk-form-controls">
            <input name="lastName" id="last-name" class="uk-input uk-border-rounded" type="text" placeholder="Last name">
        </div>
    </div>
    <div class="uk-margin-small">
        <div class="uk-form-controls">
            <input name="email" id="email" class="uk-input uk-border-rounded" type="email" placeholder="E-mail">
        </div>
    </div>
    <div class="uk-margin-small">
        <div class="uk-form-controls">
            <textarea name="message" id="message" class="uk-textarea uk-border-rounded" rows="5" placeholder="Message..."></textarea>
        </div>
    </div>
    <div class="uk-margin-small">
        <button type="submit" class="uk-button uk-width-1-1 uk-button-secondary uk-border-rounded">Send</button>
    </div>
</form>