<a href="https://github.com/pierregaimard" class="uk-margin-right">
    <img src="public/assets/img/socials-github.svg" alt="GitHub account link" width="24">
</a>
<a href="https://twitter.com/PierreGaimard" class="uk-margin-right">
    <img src="public/assets/img/socials-twitter.svg" alt="Twitter account link" width="24">
</a>
<a href="https://www.linkedin.com/in/pierre-gaimard-8432b51b5" class="uk-margin-right">
    <img src="public/assets/img/socials-linkedin.svg" alt="Linkedin account link" width="24">
</a>
<a href="https://stackoverflow.com/users/14125775/pierre" class="uk-margin-right">
    <img src="public/assets/img/socials-stack-overflow.svg" alt="Stack-overflow account link" width="24">
</a>
<a href="https://devsagency.net" class="uk-margin-right">
    <img src="public/assets/img/socials-devsagency.svg" alt="DevsAgency account link" width="24">
</a>