{% extends "core.html.twig" %}

{% block Stylesheet %}
    <link rel="stylesheet" href="public/assets/css/home.css" />
{% endblock %}

{% block Body %}
    <div class="uk-container-expand app-login-container">
        <div class="uk-background-secondary uk-text-center app-home-title">
            <img class="uk-visible@l" src="public/assets/img/home-title.svg" alt="pg-blog-title" width="900">
            <img class="uk-visible@m uk-hidden@l" src="public/assets/img/home-title.svg" alt="pg-blog-title" width="600">
            <img class="uk-visible@s uk-hidden@m" src="public/assets/img/home-title.svg" alt="pg-blog-title" width="500">
            <img class="uk-hidden@s" src="public/assets/img/home-title-small.svg" alt="pg-blog-title" width="300">
        </div>
    </div>
    <div class="uk-container" uk-height-viewport="expand: true">
        <section class="uk-section uk-padding-large uk-margin">
            <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
                <div>
                    <h1 class="uk-h1 uk-text-bolder uk-margin-remove-bottom">Pierre Gaimard</h1>
                    <h2 class="uk-h3 uk-text-lighter uk-margin-remove-top">Full stack web developer & graphic designer</h2>
                    <h3 class="uk-h2 uk-text-bolder">Send me a message!</h3>
                </div>
                <div>
                    <a href="/">
                        <img src="public/assets/img/resume.svg" alt="resume-link" width="200">
                    </a>
                    <h3 class="uk-h2 uk-text-bolder">Last blog posts</h3>
                </div>
            </div>
        </section>
    </div>
{% endblock %}