{% extends "core.html.twig" %}

{% block Body %}
    <section class="uk-container app-login-container" uk-height-viewport="expand: true">
        <h1>Hello world!!</h1>
        <p>I'm testing my new website</p>
    </section>
{% endblock %}