{% extends "core.html.twig" %}

{% block Stylesheet %}
    <link rel="stylesheet" href="/public/assets/css/home.css" />
{% endblock %}

{% block Body %}
    {% include 'home/_heading.html.twig' %}
    <div class="uk-container" uk-height-viewport="expand: true">
        <section class="uk-section uk-padding-large uk-margin">
            <div class="uk-grid-divider uk-child-width-expand@m" uk-grid>
                <div class="uk-width-3-5@m">
                    <h1 class="uk-h1 uk-text-bolder uk-margin-remove-bottom">
                        Pierre Gaimard
                    </h1>
                    <h2 class="uk-h3 uk-text-lighter uk-margin-small-top">
                        Full stack web developer & graphic designer
                    </h2>
                    <p class="uk-margin-large-top">
                        {% include 'home/_socials_links.html.twig' %}
                    </p>
                    {% include 'home/_blog_posts.html.twig' %}
                </div>
                <div class="uk-width-2-5@m">
                    <div class="uk-text-center uk-margin-large">
                        <a href="/">
                            <img class="uk-visible@s" src="/public/assets/img/resume.svg" alt="resume-link" width="200">
                            <img class="uk-hidden@s" src="/public/assets/img/resume.svg" alt="resume-link" width="100">
                        </a>
                    </div>
                    <h3 class="uk-h2 uk-text-bolder">
                        Send me a message!
                    </h3>
                    {% include 'home/_contact_form.html.twig' %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}