<div class="uk-text-right">
    <span class="uk-visible@s uk-margin-large-right">
        <span class="uk-margin-small-right">Sort by</span>
        {% for sortButon in sortButons %}
            {% include "list/_sort_buton.html.twig" with {'data': sortButon.data, 'label': sortButon.label} %}
        {% endfor %}
    </span>
    <form class="uk-search uk-search-default search">
        <span class="uk-search-icon-flip" uk-search-icon></span>
        <input class="uk-search-input uk-border-rounded" type="search" placeholder="Search...">
    </form>
</div>
