<div class="uk-container-expand uk-background-secondary uk-text-center uk-light uk-padding">
    <div class="uk-margin-large">
        {% if user.isGranted('ADMIN') %}
            <a href="{{ getRoutePath('blog_post_add') }}" class="uk-button uk-button-large uk-button-secondary uk-border-rounded uk-box-shadow-small">
                <span uk-icon="plus"></span>
                Add a new blog post
            </a>
        {% else %}
            <h1 class="uk-text-lighter">
                welcome in the world of web development
            </h1>
        {% endif %}
    </div>
</div>