<form method="post" action="{{ getRoutePath('forgot_password_check_code') }}">
    <div class="uk-fieldset uk-margin-large-top">
        {% if message is empty %}
            <p class="uk-margin-small-left uk-margin-bottom">
                A security code have been sent to <b>{{ email }}</b>. Please enter this code here to validate your email address.
            </p>
        {% endif %}
        <!-- security code -->
        {%
            include 'form/_form_input.html.twig'
            with {'type': 'number', 'id': 'code', 'name': 'code', 'label': 'Security code', 'error': formCheck['code']}
        %}
    </div>
    <div class="uk-fieldset uk-margin-large-top">
        <!-- token -->
        <input type="hidden" name="token" value="{{ token }}">
        <!-- submit -->
        <div class="uk-margin">
            <button type="submit" class="uk-button uk-button-secondary uk-button-large uk-border-rounded uk-width-1-1" >
                Next step
            </button>
        </div>
        <!-- new security code -->
        <div class="uk-margin">
            <a href="{{ getRoutePath('forgot_password_new_code') }}" class="uk-button uk-button-secondary uk-border-rounded uk-width-1-1" >
                Send a new code
            </a>
        </div>
    </div>
</form>