<form method="post" action="{{ getRoutePath('forgot_password_check_email') }}">
    <div class="uk-fieldset uk-margin-large-top">
        <!-- email -->
        {%
            include 'form/_form_input.html.twig'
            with {'type': 'text', 'id': 'email', 'name': 'email', 'label': 'Please, enter your e-mail address', 'error': formCheck['email'], 'data': formData['email']}
        %}
    </div>
    <div class="uk-fieldset uk-margin-large-top">
        <!-- token -->
        <input type="hidden" name="token" value="{{ token }}">
        <!-- submit -->
        <div class="uk-margin">
            <button type="submit" class="uk-button uk-button-secondary uk-button-large uk-border-rounded uk-width-1-1" >
                Next step
            </button>
        </div>
    </div>
</form>