{% extends "core.html.twig" %}

{% block Stylesheet %}
    <link rel="stylesheet" href="public/assets/css/sign_up.css" />
{% endblock %}

{% block Body %}
    <div class="uk-container app-signup-container" uk-height-viewport="expand: true">
        <h1 class="uk-text-center uk-margin-large-top uk-margin-remove-bottom">Reset password</h1>
        <h4 class="uk-text-center uk-margin-small-top">
            {% if step == 'stepOne' %}
                Step 1: Account check
            {% elseif step == 'stepTwo' %}
                Step 2: E-mail address check
            {% elseif step == 'stepThree' %}
                Step 3: Change your password
            {% elseif step == 'stepFour' %}
                Success!
            {% endif %}
        </h4>
        {% include "form/_form_message.html.twig" %}
        {% if step == 'stepOne' %}
            {% include "security/forgot_password/_reset_password_form_1.html.twig" %}
        {% elseif step == 'stepTwo' %}
            {% include "security/forgot_password/_reset_password_form_2.html.twig" %}
        {% elseif step == 'stepThree' %}
            {% include "security/forgot_password/_reset_password_form_3.html.twig" %}
        {% elseif step == 'stepFour' %}
            <h4 class="uk-text-center">
                Your password have been changed!
            </h4>
            <div class="uk-margin">
                <a href="{{ getRoutePath('login') }}" class="uk-button uk-button-secondary uk-button-large uk-border-rounded uk-width-1-1" >
                    Login
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}