<h1 class="uk-margin-remove-bottom">
    Hi {{ comment.user.formattedName('firstName') }},
</h1>
<p class="uk-margin-remove-top">
    Event date: {{ "now"|date("d/m/Y H:m:s") }}<br />
</p>
<p>
    Your comment has been
    {% if action == 'reject' %}
        rejected.
    {% elseif action == 'approve' %}
        approved.
    {% endif %}
</p>
<h3>
    Blog post: {{ title }}.
</h3>
<h5>Comment</h5>
<p>
    {{ comment.comment }}
</p>
<h3>
    See you soon!
</h3>