{% if (user.isGranted('ADMIN') and comment.status.status == 'VALIDATION') or user.key == comment.user.key %}
    <div class="uk-margin-top app-comment-actions">
        {% if user.key == comment.user.key %}
            <a
                class="uk-button uk-button-small uk-button-danger uk-border-rounded"
                href="#post-comment-action-confirm"
                data-text="remove"
                data-action="Remove"
                data-action-href="{{ getRoutePath('post_comment_delete', {'postKey': post.key, 'key': comment.key}) }}"
                data-action-class="uk-button uk-button-danger"
                uk-toggle
            >
                <span uk-icon="trash"></span>
                Remove
            </a>
        {% elseif user.isGranted('ADMIN') and comment.status.status == 'VALIDATION' %}
            <a
                class="uk-button uk-button-small uk-button-default uk-border-rounded"
                href="#post-comment-action-confirm"
                data-text="approve"
                data-action="Approve"
                data-action-href="{{ getRoutePath('post_comment_validate', {'postKey': post.key, 'key': comment.key}) }}"
                data-action-class="uk-button app-button-success"
                uk-toggle
            >
                Approve
            </a>
            <a
                class="uk-button uk-button-small uk-button-danger uk-border-rounded"
                href="#post-comment-action-confirm"
                data-text="reject"
                data-action="Reject"
                data-action-href="{{ getRoutePath('post_comment_reject', {'postKey': post.key, 'key': comment.key}) }}"
                data-action-class="uk-button uk-button-danger"
                uk-toggle
            >
                Reject
            </a>
        {% endif %}
    </div>
{% endif %}