<a
    href="{{ path }}"
    class="uk-display-block uk-padding-small uk-background-muted uk-margin uk-border-rounded app-menu-item"
>
    <div class="uk-flex uk-flex-between">
        <div>
            <h4 class="uk-margin-remove">
                <span class="uk-margin-right" uk-icon="icon: {{ icon }}; ratio: 1.5"></span>
                {{ title }}
            </h4>
        </div>
        <div class="">
            <span class="uk-badge uk-background-secondary">
                {{ badge }}
            </span>
        </div>
    </div>
</a>