<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="http://projet05.pgaimard.fr/public/assets/css/site.css" />
        <link rel="stylesheet" href="http://projet05.pgaimard.fr/public/assets/css/home.css" />
        {% block Stylesheet %}{% endblock %}
    </head>

    <body>
        {% block Body %}{% endblock %}
        <script src="http://projet05.pgaimard.fr/node_modules/uikit/dist/js/uikit.min.js"></script>
        <script src="http://projet05.pgaimard.fr/node_modules/uikit/dist/js/uikit-icons.min.js"></script>
    </body>
</html>