<!DOCTYPE html>
<html lang="fr">
    <head>
        <base href="/">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.pgaimard.fr/projet05/css/app.min.css" />
        <link rel="stylesheet" href="public/assets/css/_header.css" />
        {% block Stylesheet %}{% endblock %}
        <title>{% block Title %}App{% endblock %}</title>
    </head>

    <body>
        {% include "header/_header.html.twig" %}
        {% block Body %}{% endblock %}
        {% include "footer/_footer.html.twig" %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.9/js/uikit.min.js" integrity="sha512-OZ9Sq7ecGckkqgxa8t/415BRNoz2GIInOsu8Qjj99r9IlBCq2XJlm9T9z//D4W1lrl+xCdXzq0EYfMo8DZJ+KA==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.9/js/uikit-icons.min.js" integrity="sha512-hcz3GoZLfjU/z1OyArGvM1dVgrzpWcU3jnYaC6klc2gdy9HxrFkmoWmcUYbraeS+V/GWSgfv6upr9ff4RVyQPw==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/2.1.0/list.min.js" integrity="sha512-f2QTxwc/vYmyjYS9xeGRs8qgBg0FZiyOzZ42gV2l2jIsv2pdjQCPxJUBC91bY3eJ4h9qQx+MDuGca/5I/yUNVg==" crossorigin="anonymous"></script>
        {% include "notification/_notifications.html.twig" %}
        {% block Javascript %}{% endblock %}
    </body>
</html>