<h1 class="uk-margin-remove-bottom">
    Confirmation of account deletion
</h1>
<p class="uk-margin-remove-top">
    Event date: {{ "now"|date("d/m/Y H:m:s") }}<br />
</p>
<p>
    I confirm that your account has been deleted.
</p>
<h3>
    Good bye {{ user.formattedName('firstName') }}
</h3>