{% if member.status.status == 'ACTIVE' %}
    {% set status = 'lock' %}
{% elseif member.status.status == 'LOCKED' %}
    {% set status = 'unlock' %}
{% endif %}

<div id="app-user-lock-confirm" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        <h2 class="uk-modal-title">Confirmation</h2>
        <p class="uk-margin-medium-bottom">
            Are you sure you want to {{ status }} the member <b>{{ member.formattedName('large') }}</b> ?
        </p>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close uk-margin-small-right" type="button">Cancel</button>
            <a href="{{ getRoutePath('admin_user_lock', {'key': member.key}) }}" class="uk-button uk-button-secondary" type="button">{{ status|capitalize }}</a>
        </p>
    </div>
</div>