<div class="uk-margin">
    <div class="uk-form-controls">
        {% if formCheck["password"] is not null %}
            <label class="uk-form-label uk-form-danger">
                {{ formCheck["password"] }}
            </label>
        {% endif %}
        <input
                type="password"
                name="password"
                class="
                    uk-input uk-border-rounded
                    {% if formCheck["password"] is not null %}
                        uk-form-danger
                    {% endif %}
                "
                value="{{ formData["password"] }}"
                placeholder="password"
        >
    </div>
</div>