<div class="uk-margin">
    <div class="uk-form-controls">
        {% if formCheck["email"] is not null %}
            <label class="uk-form-label uk-form-danger">
                {{ formCheck["email"] }}
            </label>
        {% endif %}
        <input
            type="text"
            name="email"
            class="
                uk-input uk-border-rounded
                {% if formCheck["email"] is not null %}
                    uk-form-danger
                {% endif %}
            "
            value="{{ formData["email"] }}"
            placeholder="e-mail"
        >
    </div>
</div>