<form method="post" action="{{ getRoutePath('login_check') }}">
    <!-- login -->
    {% include "security/authentication/_form_field_email.html.twig" %}
    <!-- password -->
    {% include "security/authentication/_form_field_password.html.twig" %}
    <!-- token -->
    <input type="hidden" name="token" value="{{ token }}">
    <!-- submit -->
    <div class="uk-margin">
        <button type="submit" class="uk-button uk-button-default uk-border-rounded uk-width-1-1" >
            login
        </button>
    </div>
</form>