{% extends "core.html.twig" %}

{% block Stylesheet %}
    <link rel="stylesheet" href="public/assets/css/login.css" />
{% endblock %}

{% block Body %}
    <div class="uk-container app-login-container uk-background-muted" uk-height-viewport="expand: true">
        <!-- robot drawing -->
        <div class="uk-text-center uk-margin-top">
            <img class="uk-visible@s" src="public/assets/img/line-robot-black.svg" width="200" alt="robot-drawing">
            <img class="uk-hidden@s" src="public/assets/img/line-robot-black.svg" width="150" alt="robot-drawing">
        </div>
        <!-- form box -->
        <div class="app-login-box uk-padding-small uk-box-shadow-small">
            <h1 class="uk-text-center">Login</h1>
            <form method="post" action="{{ getRoutePath('login') }}">
            <form method="post" action="{{ getRoutePath('login_check') }}">
                <!-- login -->
                {% include "security/authentication/_form_field_email.html.twig" %}
                <!-- password -->
                {% include "security/authentication/_form_field_password.html.twig" %}
                <!-- token -->
                <input type="hidden" name="token" value="{{ token }}">
                <!-- submit -->
                <div class="uk-margin">
                    <button type="submit" class="uk-button uk-button-default uk-border-rounded uk-width-1-1" >
                        login
                    </button>
                </div>
            </form>
        </div>
        <a href="/" class="uk-button uk-button-text uk-width-1-1 uk-text-center uk-margin">forgot password</a>
    </div>
{% endblock %}