{% extends "core.html.twig" %}

{% block Stylesheet %}
    <link rel="stylesheet" href="public/assets/css/login.css" />
{% endblock %}

{% block Body %}
    <div class="uk-container app-login-container uk-background-muted" uk-height-viewport="expand: true">
        <!-- robot drawing -->
        <div class="uk-text-center uk-margin-top">
            <img class="uk-visible@s" src="public/assets/img/line-robot-black.svg" width="200" alt="robot-drawing">
            <img class="uk-hidden@s" src="public/assets/img/line-robot-black.svg" width="150" alt="robot-drawing">
        </div>
        <!-- form box -->
        <div class="app-login-box uk-padding-small uk-box-shadow-small">
            <h1 class="uk-text-center">Login</h1>
            {% include "security/authentication/_form_message.html.twig" %}
            {% if securityCode == true %}
                {% include "security/authentication/_login_security_code_form.html.twig" %}
            {% else %}
                {% include "security/authentication/_login_form.html.twig" %}
            {% endif %}
        </div>
        <a href="/" class="uk-button uk-button-text uk-width-1-1 uk-text-center uk-margin">forgot password</a>
    </div>
{% endblock %}