<footer>
    <div class="uk-section uk-section-xsmall">
        <div class="uk-container uk-align-center uk-text-center uk-column-1-2 uk-column-divider">
            <p class="uk-text-right">
                Pierre Gaimard
            </p>
            <p class="uk-text-left">
                <a class="uk-link-text" href="{{ getRoutePath('admin_home') }}">
                    <span uk-icon="icon: lock"></span>
                    admin
                </a>
            </p>
        </div>
    </div>
</footer>