<form method="post" action="{{ getRoutePath('sign_up_check_three') }}">
    <div class="uk-fieldset uk-margin-large-top">
        <legend class="uk-legend uk-margin-small-left">
            Password
        </legend>
        <p class="uk-margin-small-left uk-margin-bottom">
            Your password must contains:
        <ul class="uk-list uk-list-hyphen">
            <li>8 characters</li>
            <li {% if requires['lowerCase'] is not null %}class="uk-text-danger"{% endif %}>
                one lowercase
            </li>
            <li {% if requires['upperCase'] is not null %}class="uk-text-danger"{% endif %}>
                one uppercase
            </li>
            <li {% if requires['number'] is not null %}class="uk-text-danger"{% endif %}>
                one number
            </li>
            <li {% if requires['specialChar'] is not null %}class="uk-text-danger"{% endif %}>
                one special character
            </li>
        </ul>
        </p>
        <!-- password -->
        {%
            include 'form/_form_input.html.twig'
            with {
                'type': 'password',
                'id': 'password',
                'name': 'password',
                'label': 'Password',
                'error': formCheck['password'],
                'data': formData['password']
            }
        %}
        <!-- password confirm-->
        {%
            include 'form/_form_input.html.twig'
            with {
                'type': 'password',
                'id': 'passwordConfirm',
                'name': 'passwordConfirm',
                'label': 'Confirm password',
                'error': formCheck['passwordConfirm'],
                'data': formData['passwordConfirm']
            }
        %}
    </div>
    <div class="uk-fieldset uk-margin-large-top">
        <!-- token -->
        <input type="hidden" name="token" value="{{ token }}">
        <!-- submit -->
        <div class="uk-margin">
            <button type="submit" class="uk-button uk-button-secondary uk-button-large uk-border-rounded uk-width-1-1">
                Sign-up
            </button>
        </div>
    </div>
</form>