<form class="uk-margin-large-bottom" method="post" action="{{ getRoutePath('account_password_check') }}">
    <!-- password -->
    {%
        include 'form/_form_input.html.twig'
        with {'type': 'password', 'id': 'currentPassword', 'name': 'currentPassword', 'label': 'Current password', 'error': formCheck['currentPassword'], 'data': formData['currentPassword']}
    %}
    {% if requires is not empty %}
        <p class="uk-margin-small-left uk-margin-bottom">
            Your password must contains:
        <ul class="uk-list uk-list-hyphen">
            <li>8 characters</li>
            <li {% if requires['lowerCase'] is not null %}class="uk-text-danger"{% endif %}>one lowercase</li>
            <li {% if requires['upperCase'] is not null %}class="uk-text-danger"{% endif %}>one uppercase</li>
            <li {% if requires['number'] is not null %}class="uk-text-danger"{% endif %}>one number</li>
            <li {% if requires['specialChar'] is not null %}class="uk-text-danger"{% endif %}>one special character</li>
        </ul>
    {% endif %}
    <!-- password -->
    {%
        include 'form/_form_input.html.twig'
        with {'type': 'password', 'id': 'newPassword', 'name': 'newPassword', 'label': 'New password', 'error': formCheck['newPassword'], 'data': formData['newPassword']}
    %}
    <!-- password confirm-->
    {%
        include 'form/_form_input.html.twig'
        with {'type': 'password', 'id': 'passwordConfirm', 'name': 'passwordConfirm', 'label': 'Confirm new password', 'error': formCheck['passwordConfirm'], 'data': formData['passwordConfirm']}
    %}
    <input type="hidden" name="token" value="{{ token }}">
    <div>
        <button id="passwordButton" type="submit" class="uk-button uk-button-secondary uk-border-rounded uk-width-1-1">Save changes</button>
    </div>
</form>
