{% extends "core.html.twig" %}

{% block Stylesheet %}
    <link rel="stylesheet" href="public/assets/css/status.css" />
{% endblock %}

{% block Body %}
    <div class="uk-container-expand uk-background-secondary uk-light app-status" uk-height-viewport="expand: true">
        <div class="uk-text-center uk-position-center">
            <p class="uk-text-lead uk-margin-large-bottom">
                Sorry but this page do not exists...
            </p>
            <img src="public/assets/img/404-not-found.svg" width="600" alt="404 not found">
            <p class="uk-margin-large">
                <a href="{{ getRoutePath('home') }}" class="uk-button uk-button-large uk-button-secondary uk-border-rounded">
                    Go back to home page
                </a>
            </p>
        </div>
    </div>
{% endblock %}